.main-title {
  background-image: url("assets/banner-o.png");
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  position: absolute;
  padding: 20px;
}

.main-title h1 {
  color: rgb(23, 121, 23);
}

#rise-header {
  width: 100%;
}

#rise-footer {
  width: 100%;
}

.header-title {
  padding: 10px;
}

.footer-title {
  width: 100%;
  text-align: center;
}

.header-images {
  position: absolute;
  right: 0;
  top: 0;
}

.header-images img {
  width: 75px;
  height: auto;
  margin: 5px;
}
